In [51]:
import numpy as np
import pandas as pd

In [52]:
df=pd.read_csv('final_tripdata_new.csv')
df.head()

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,day_week_start,duration,distance
0,4993971,E7CC3B9C2497863F,docked_bike,2020-08-13 13:17:28,2020-08-13 13:55:29,Wells St & Evergreen Ave,291,Paulina St & 18th St,205,41.906724,-87.634830,41.857901,-87.668745,member,5.0,3801.0,59446.72
1,2539858,75F3F6997F82F01C,docked_bike,2020-10-09 12:26:49,2020-10-09 12:47:34,Streeter Dr & Grand Ave,35,Streeter Dr & Grand Ave,35,41.892278,-87.612043,41.892278,-87.612043,casual,6.0,2085.0,0.00
2,1084867,325DAA770EDE57ED,electric_bike,2020-11-06 17:35:06,2020-11-06 17:46:46,Sedgwick St & North Ave,118,Damen Ave & Pierce Ave,69,41.911304,-87.638627,41.909463,-87.677480,casual,6.0,1140.0,38895.91
3,5202426,F17EA7F23A221021,electric_bike,2021-06-15 00:28:30,2021-06-15 01:00:47,Desplaines St & Randolph St,15535,Kedzie Ave & Bryn Mawr Ave,KA1504000167,41.884528,-87.644460,41.982302,-87.708913,member,3.0,7217.0,117106.31
4,2241145,68163A1203766B61,classic_bike,2021-05-30 13:36:56,2021-05-30 13:43:25,Woodlawn Ave & 55th St,TA1307000164,Blackstone Ave & Hyde Park Blvd,13398,41.795264,-87.596471,41.802562,-87.590368,member,1.0,669.0,9513.54

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          10000 non-null  int64
 1   ride_id             10000 non-null  object
 2   rideable_type       10000 non-null  object
 3   started_at          10000 non-null  object
 4   ended_at            10000 non-null  object
 5   start_station_name  9503 non-null   object
 6   start_station_id    9501 non-null   object
 7   end_station_name    9452 non-null   object
 8   end_station_id      9450 non-null   object
 9   start_lat           10000 non-null  float64
 10  start_lng           10000 non-null  float64
 11  end_lat             10000 non-null  float64
 12  end_lng             10000 non-null  float64
 13  member_casual       10000 non-null  object
 14  day_week_start      10000 non-null  float64
 15  duration            10000 non-null  float64
 16  distance            10000 non-null  float64
dtypes: float64(7), int64(1), object(9)
memory usage: 1.3+ MB

In [54]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [55]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,day_week_start,duration,distance
0,E7CC3B9C2497863F,docked_bike,2020-08-13 13:17:28,2020-08-13 13:55:29,Wells St & Evergreen Ave,291,Paulina St & 18th St,205,41.906724,-87.634830,41.857901,-87.668745,member,5.0,3801.0,59446.72
1,75F3F6997F82F01C,docked_bike,2020-10-09 12:26:49,2020-10-09 12:47:34,Streeter Dr & Grand Ave,35,Streeter Dr & Grand Ave,35,41.892278,-87.612043,41.892278,-87.612043,casual,6.0,2085.0,0.00
2,325DAA770EDE57ED,electric_bike,2020-11-06 17:35:06,2020-11-06 17:46:46,Sedgwick St & North Ave,118,Damen Ave & Pierce Ave,69,41.911304,-87.638627,41.909463,-87.677480,casual,6.0,1140.0,38895.91
3,F17EA7F23A221021,electric_bike,2021-06-15 00:28:30,2021-06-15 01:00:47,Desplaines St & Randolph St,15535,Kedzie Ave & Bryn Mawr Ave,KA1504000167,41.884528,-87.644460,41.982302,-87.708913,member,3.0,7217.0,117106.31
4,68163A1203766B61,classic_bike,2021-05-30 13:36:56,2021-05-30 13:43:25,Woodlawn Ave & 55th St,TA1307000164,Blackstone Ave & Hyde Park Blvd,13398,41.795264,-87.596471,41.802562,-87.590368,member,1.0,669.0,9513.54

In [56]:
df[df['duration']<= 0]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,day_week_start,duration,distance
63,1EEA975F1E95F972,docked_bike,2020-07-14 18:19:28,2020-07-14 18:19:21,Larrabee St & Webster Ave,144,Lake Shore Dr & Diversey Pkwy,329,41.921822,-87.644140,41.932588,-87.636427,casual,3.0,-7.0,13243.76
470,9C432172669C65D3,docked_bike,2020-08-11 17:31:05,2020-08-11 17:31:00,Lake Shore Dr & North Blvd,268,Dearborn St & Erie St,110,41.911722,-87.626804,41.893992,-87.629318,member,3.0,-5.0,17907.35
1041,194A62C72BFFC1CC,docked_bike,2020-07-12 19:38:53,2020-07-12 19:38:53,Kosciuszko Park,499,St. Louis Ave & Balmoral Ave,469,41.930585,-87.723777,41.980394,-87.716115,casual,1.0,0.0,50395.07
1413,8ADAD8E503067DF4,docked_bike,2020-09-11 11:04:59,2020-09-11 11:04:45,Clarendon Ave & Junior Ter,245,Clarendon Ave & Gordon Ter,312,41.961004,-87.649603,41.957879,-87.649519,member,6.0,-14.0,3126.13
1816,F76C6D689F531760,docked_bike,2020-09-19 17:50:33,2020-09-19 17:50:28,Burnham Harbor,4,Ellis Ave & 60th St,426,41.856268,-87.613348,41.785097,-87.601073,member,7.0,-5.0,72221.73
1976,13E5F677800F8151,docked_bike,2020-11-04 16:46:50,2020-11-04 16:46:46,Lakefront Trail & Wilson Ave,639,Michigan Ave & Madison St,197,41.965845,-87.645361,41.882134,-87.625125,member,4.0,-4.0,86122.16
2217,22F590BA5AD3507D,docked_bike,2020-10-11 18:19:10,2020-10-11 18:18:51,Kilbourn Ave & Irving Park Rd,590,Kilbourn Ave & Irving Park Rd,590,41.953733,-87.740569,41.953733,-87.740569,casual,1.0,-59.0,0.00
2673,CE56B8ECFE72DA73,docked_bike,2020-11-08 12:39:15,2020-11-08 12:39:07,Streeter Dr & Grand Ave,35,Burnham Harbor,4,41.892278,-87.612043,41.856268,-87.613348,member,1.0,-8.0,36033.64
4398,D483FF80E38325F3,docked_bike,2020-09-07 16:56:31,2020-09-07 16:56:28,Montrose Harbor,249,Lakefront Trail & Bryn Mawr Ave,459,41.963982,-87.638181,41.984037,-87.652310,casual,2.0,-3.0,24532.20
5374,DF8F15B26070E691,docked_bike,2020-08-21 17:31:38,2020-08-21 17:30:49,Michigan Ave & Jackson Blvd,284,Indiana Ave & Roosevelt Rd,255,41.877850,-87.624080,41.867888,-87.623041,casual,6.0,-89.0,10016.04
7500,3F6EE6FD95FAE8A6,docked_bike,2020-07-05 17:02:23,2020-07-05 17:02:18,Clark St & Elm St,176,Orleans St & Chestnut St (NEXT Apts),620,41.902973,-87.631280,41.898203,-87.637536,member,1.0,-5.0,7867.05
7828,BF44E3263CBA82D4,electric_bike,2020-10-16 16:44:56,2020-10-16 15:43:14,Theater on the Lake,177,Kedzie Ave & Milwaukee Ave,260,41.926263,-87.631014,41.929589,-87.707904,casual,6.0,-10142.0,76962.07
8059,839603DADE7B3F6E,docked_bike,2020-10-13 09:31:00,2020-10-13 09:30:28,McCormick Place,62,Michigan Ave & Jackson Blvd,284,41.851375,-87.618834,41.877850,-87.624080,member,3.0,-72.0,26989.74
8254,A9C677AB30627686,docked_bike,2020-04-15 19:15:44,2020-04-15 19:15:15,Halsted St & Clybourn Ave,331,Wells St & Huron St,53,41.909700,-87.648100,41.894700,-87.634400,member,4.0,-29.0,20314.77
8654,C48BFF0636970A81,docked_bike,2020-09-02 06:53:43,2020-09-02 06:53:35,Marine Dr & Ainslie St,465,Clarendon Ave & Leland Ave,251,41.971600,-87.650154,41.967968,-87.650001,member,4.0,-8.0,3635.22
8825,F888BD670EBAB0C7,docked_bike,2020-07-20 23:17:49,2020-07-20 23:02:04,900 W Harrison St,109,Morgan St & 31st St,280,41.874754,-87.649807,41.837800,-87.651140,casual,2.0,-1545.0,36978.03
9020,C16F8C0AE21F249A,docked_bike,2020-09-20 17:22:12,2020-09-20 17:22:07,Pine Grove Ave & Waveland Ave,232,Clarendon Ave & Leland Ave,251,41.949472,-87.646452,41.967968,-87.650001,casual,1.0,-5.0,18833.41
9179,B56DDC7714B412E6,docked_bike,2020-09-26 13:51:42,2020-09-26 13:51:23,Damen Ave & Leland Ave,242,Damen Ave & Leland Ave,242,41.967094,-87.679028,41.967094,-87.679028,casual,7.0,-19.0,0.00
9236,4694A240BC342BFA,docked_bike,2020-07-21 08:01:14,2020-07-21 08:01:02,Lake Shore Dr & Wellington Ave,157,Clark St & Wrightwood Ave,340,41.936688,-87.636829,41.929546,-87.643118,member,3.0,-12.0,9516.29
9357,BE1F691E387D7072_12,docked_bike,2020-12-15 11:34:23,2020-11-25 08:00:15,Kingsbury St & Kinzie St,KA1503000043,Canal St & Monroe St,13056,41.889176,-87.638505,41.881690,-87.639530,member,3.0,-90033408.0,7555.85

In [57]:
# dropping the duration coloumn which is having the negative value
df.drop(df.index[df['duration'] <= 0],inplace =True)

In [58]:
# rechecking to confirm changes
df[df['duration'] <=0]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, day_week_start, duration, distance]
Index: []

In [59]:
df.drop(df.index[df['distance']<0], inplace =True)

In [60]:
df[df['distance']<0]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, day_week_start, duration, distance]
Index: []

In [61]:
df.isnull().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name    497
start_station_id      499
end_station_name      539
end_station_id        541
start_lat               0
start_lng               0
end_lat                 0
end_lng                 0
member_casual           0
day_week_start          0
duration                0
distance                0
dtype: int64

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9971 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             9971 non-null   object
 1   rideable_type       9971 non-null   object
 2   started_at          9971 non-null   object
 3   ended_at            9971 non-null   object
 4   start_station_name  9474 non-null   object
 5   start_station_id    9472 non-null   object
 6   end_station_name    9432 non-null   object
 7   end_station_id      9430 non-null   object
 8   start_lat           9971 non-null   float64
 9   start_lng           9971 non-null   float64
 10  end_lat             9971 non-null   float64
 11  end_lng             9971 non-null   float64
 12  member_casual       9971 non-null   object
 13  day_week_start      9971 non-null   float64
 14  duration            9971 non-null   float64
 15  distance            9971 non-null   float64
dtypes: float64(7), object(9)
memory usage: 1.3+ MB

In [63]:
df.isnull().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name    497
start_station_id      499
end_station_name      539
end_station_id        541
start_lat               0
start_lng               0
end_lat                 0
end_lng                 0
member_casual           0
day_week_start          0
duration                0
distance                0
dtype: int64

In [78]:
df= df.dropna() # since we have where large dataset so we can easliy drop all the missing data

In [80]:
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,day_week_start,duration,distance
0,E7CC3B9C2497863F,docked_bike,2020-08-13 13:17:28,2020-08-13 13:55:29,Wells St & Evergreen Ave,291,Paulina St & 18th St,205,41.906724,-87.634830,41.857901,-87.668745,member,5.0,3801.0,59446.72
1,75F3F6997F82F01C,docked_bike,2020-10-09 12:26:49,2020-10-09 12:47:34,Streeter Dr & Grand Ave,35,Streeter Dr & Grand Ave,35,41.892278,-87.612043,41.892278,-87.612043,casual,6.0,2085.0,0.00
2,325DAA770EDE57ED,electric_bike,2020-11-06 17:35:06,2020-11-06 17:46:46,Sedgwick St & North Ave,118,Damen Ave & Pierce Ave,69,41.911304,-87.638627,41.909463,-87.677480,casual,6.0,1140.0,38895.91
3,F17EA7F23A221021,electric_bike,2021-06-15 00:28:30,2021-06-15 01:00:47,Desplaines St & Randolph St,15535,Kedzie Ave & Bryn Mawr Ave,KA1504000167,41.884528,-87.644460,41.982302,-87.708913,member,3.0,7217.0,117106.31
4,68163A1203766B61,classic_bike,2021-05-30 13:36:56,2021-05-30 13:43:25,Woodlawn Ave & 55th St,TA1307000164,Blackstone Ave & Hyde Park Blvd,13398,41.795264,-87.596471,41.802562,-87.590368,member,1.0,669.0,9513.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,A793AD6E0E1F80BE,docked_bike,2020-10-05 13:58:43,2020-10-05 14:23:39,Lincoln Ave & Belmont Ave,131,Dearborn Pkwy & Delaware Pl,140,41.939365,-87.668385,41.898969,-87.629912,casual,2.0,6496.0,55785.38
9996,D7F40C4AD674B7A6,classic_bike,2021-05-28 11:48:33,2021-05-28 11:52:48,Clifton Ave & Armitage Ave,TA1307000163,Sheffield Ave & Fullerton Ave,TA1306000016,41.918216,-87.656936,41.925602,-87.653708,member,6.0,415.0,8060.38
9997,2CB92E8592E117F7,docked_bike,2021-06-20 14:45:56,2021-06-20 15:33:11,Shedd Aquarium,15544,Fort Dearborn Dr & 31st St,TA1307000048,41.867226,-87.615355,41.838556,-87.608218,casual,1.0,8755.0,29544.98
9998,0445393F376408CE,docked_bike,2021-05-23 12:58:52,2021-05-23 14:11:51,Broadway & Thorndale Ave,15575,Marine Dr & Ainslie St,KA1504000171,41.989743,-87.660141,41.971600,-87.650154,casual,1.0,15299.0,20710.11
9999,CC7844CD89E52FAC,docked_bike,2021-06-11 14:03:02,2021-06-11 14:45:58,Streeter Dr & Grand Ave,13022,Michigan Ave & Oak St,13042,41.892278,-87.612043,41.900960,-87.623777,casual,6.0,4256.0,14596.71

In [82]:
df.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
day_week_start        0
duration              0
distance              0
dtype: int64

In [98]:
df['day_week_start'].replace({1.0:'sunday',2.0:'monday',3.0:'tuesday',4.0:'wednesday',5.0:'thursday',6.0:'friday',7.0:'saturday'},inplace = True)

C:\Users\hp\AppData\Local\Temp\ipykernel_2972\1512144419.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['day_week_start'].replace({1.0:'sunday',2.0:'monday',3.0:'tuesday',4.0:'wednesday',5.0:'thursday',6.0:'friday',7.0:'saturday'},inplace = True)

In [92]:
df =df.drop(['start_lat','start_lng','end_lat','end_lng'],axis=1)

In [94]:
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,day_week_start,duration,distance
0,E7CC3B9C2497863F,docked_bike,2020-08-13 13:17:28,2020-08-13 13:55:29,Wells St & Evergreen Ave,291,Paulina St & 18th St,205,member,thursday,3801.0,59446.72
1,75F3F6997F82F01C,docked_bike,2020-10-09 12:26:49,2020-10-09 12:47:34,Streeter Dr & Grand Ave,35,Streeter Dr & Grand Ave,35,casual,friday,2085.0,0.00
2,325DAA770EDE57ED,electric_bike,2020-11-06 17:35:06,2020-11-06 17:46:46,Sedgwick St & North Ave,118,Damen Ave & Pierce Ave,69,casual,friday,1140.0,38895.91
3,F17EA7F23A221021,electric_bike,2021-06-15 00:28:30,2021-06-15 01:00:47,Desplaines St & Randolph St,15535,Kedzie Ave & Bryn Mawr Ave,KA1504000167,member,tuesday,7217.0,117106.31
4,68163A1203766B61,classic_bike,2021-05-30 13:36:56,2021-05-30 13:43:25,Woodlawn Ave & 55th St,TA1307000164,Blackstone Ave & Hyde Park Blvd,13398,member,sunday,669.0,9513.54
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,A793AD6E0E1F80BE,docked_bike,2020-10-05 13:58:43,2020-10-05 14:23:39,Lincoln Ave & Belmont Ave,131,Dearborn Pkwy & Delaware Pl,140,casual,monday,6496.0,55785.38
9996,D7F40C4AD674B7A6,classic_bike,2021-05-28 11:48:33,2021-05-28 11:52:48,Clifton Ave & Armitage Ave,TA1307000163,Sheffield Ave & Fullerton Ave,TA1306000016,member,friday,415.0,8060.38
9997,2CB92E8592E117F7,docked_bike,2021-06-20 14:45:56,2021-06-20 15:33:11,Shedd Aquarium,15544,Fort Dearborn Dr & 31st St,TA1307000048,casual,sunday,8755.0,29544.98
9998,0445393F376408CE,docked_bike,2021-05-23 12:58:52,2021-05-23 14:11:51,Broadway & Thorndale Ave,15575,Marine Dr & Ainslie St,KA1504000171,casual,sunday,15299.0,20710.11
9999,CC7844CD89E52FAC,docked_bike,2021-06-11 14:03:02,2021-06-11 14:45:58,Streeter Dr & Grand Ave,13022,Michigan Ave & Oak St,13042,casual,friday,4256.0,14596.71

In [96]:
df_member =df   # creating three dataframe of same data for analysis purpose
df_causal =df
df_both =df

In [100]:
df['member_casual'].value_counts()

member_casual
member    5591
casual    3617
Name: count, dtype: int64

In [102]:
df['distance'].mean()

21994.632307775846

In [104]:
df['distance'].mode()

0    0.0
Name: distance, dtype: float64

In [106]:
df['distance'].median()

17110.955

In [110]:
df['distance'].max()

191547.55

In [112]:
df['distance'].min()

0.0

In [114]:
df['start_station_name'].value_counts()

start_station_name
Streeter Dr & Grand Ave       126
Lake Shore Dr & North Blvd     96
Theater on the Lake            92
Clark St & Elm St              86
Lake Shore Dr & Monroe St      78
                             ...
Albany Ave & 26th St            1
Stony Island Ave & 75th St      1
Ellis Ave & 83rd St             1
Hoyne Ave & Balmoral Ave        1
Commercial Ave & 83rd St        1
Name: count, Length: 559, dtype: int64

In [116]:
df['end_station_name'].value_counts()

end_station_name
Streeter Dr & Grand Ave    123
Millennium Park             89
Clark St & Elm St           81
Broadway & Barry Ave        81
Wells St & Concord Ln       80
                          ...
Millard Ave & 26th St        1
Vernon Ave & 107th St        1
Prospect Sq & 91st St        1
Normal Ave & Archer Ave      1
2112 W Peterson Ave          1
Name: count, Length: 565, dtype: int64

In [118]:
df['rideable_type'].value_counts()

rideable_type
docked_bike      5558
classic_bike     2363
electric_bike    1287
Name: count, dtype: int64

In [120]:
df['day_week_start'].value_counts()

day_week_start
saturday     1641
sunday       1415
friday       1385
wednesday    1228
tuesday      1214
thursday     1184
monday       1141
Name: count, dtype: int64

In [126]:
df_member =df[df['member_casual'] == 'member']
df_member

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,day_week_start,duration,distance
0,E7CC3B9C2497863F,docked_bike,2020-08-13 13:17:28,2020-08-13 13:55:29,Wells St & Evergreen Ave,291,Paulina St & 18th St,205,member,thursday,3801.0,59446.72
3,F17EA7F23A221021,electric_bike,2021-06-15 00:28:30,2021-06-15 01:00:47,Desplaines St & Randolph St,15535,Kedzie Ave & Bryn Mawr Ave,KA1504000167,member,tuesday,7217.0,117106.31
4,68163A1203766B61,classic_bike,2021-05-30 13:36:56,2021-05-30 13:43:25,Woodlawn Ave & 55th St,TA1307000164,Blackstone Ave & Hyde Park Blvd,13398,member,sunday,669.0,9513.54
6,BEF6F56562439BE1,docked_bike,2020-07-08 18:39:27,2020-07-08 19:02:33,LaSalle St & Adams St,40,Clark St & Wrightwood Ave,340,member,wednesday,6306.0,51421.63
7,2341BCC1B2B0E8BD,docked_bike,2020-06-15 18:36:54,2020-06-15 18:53:50,Elston Ave & Wabansia Ave,315,Clark St & Elm St,176,member,monday,1696.0,34359.99
...,...,...,...,...,...,...,...,...,...,...,...,...
9987,712A77A5872817FC,docked_bike,2020-06-09 11:38:42,2020-06-09 12:04:27,Dearborn Pkwy & Delaware Pl,140,Morgan Ave & 14th Pl,137,member,tuesday,6585.0,42263.74
9988,18B452702E44CAC3,classic_bike,2021-06-29 07:16:27,2021-06-29 07:24:12,Clark St & Wrightwood Ave,TA1305000014,Clark St & North Ave,13128,member,tuesday,785.0,20824.94
9990,257A41E25446408C,classic_bike,2021-03-04 16:32:41,2021-03-04 17:11:40,State St & Van Buren St,TA1305000035,Sheridan Rd & Irving Park Rd,13063,member,thursday,7899.0,81513.19
9991,824C47402DF312C2,docked_bike,2020-06-25 17:45:29,2020-06-25 18:10:42,Troy St & Elston Ave,490,Broadway & Belmont Ave,296,member,thursday,6513.0,61413.22
9996,D7F40C4AD674B7A6,classic_bike,2021-05-28 11:48:33,2021-05-28 11:52:48,Clifton Ave & Armitage Ave,TA1307000163,Sheffield Ave & Fullerton Ave,TA1306000016,member,friday,415.0,8060.38

In [130]:
df_casual =df[df['member_casual'] == 'casual']
df_casual

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,day_week_start,duration,distance
1,75F3F6997F82F01C,docked_bike,2020-10-09 12:26:49,2020-10-09 12:47:34,Streeter Dr & Grand Ave,35,Streeter Dr & Grand Ave,35,casual,friday,2085.0,0.00
2,325DAA770EDE57ED,electric_bike,2020-11-06 17:35:06,2020-11-06 17:46:46,Sedgwick St & North Ave,118,Damen Ave & Pierce Ave,69,casual,friday,1140.0,38895.91
5,EF6F84FDE7C6C0B4,electric_bike,2020-08-17 14:45:14,2020-08-17 14:46:01,Wolcott Ave & Polk St,342,Wolcott Ave & Polk St,342,casual,monday,87.0,13.08
9,83C54F930F9364F0,electric_bike,2021-05-14 08:19:37,2021-05-14 08:33:11,Halsted St & Wrightwood Ave,TA1309000061,Clark St & Armitage Ave,13146,casual,friday,1374.0,16729.88
11,C130F72361FC4D51,docked_bike,2020-09-18 12:45:41,2020-09-18 13:57:12,Shedd Aquarium,3,State St & Van Buren St,33,casual,friday,11171.0,15971.13
...,...,...,...,...,...,...,...,...,...,...,...,...
9992,2F8737623D5FE4CE,docked_bike,2020-08-14 07:44:57,2020-08-14 07:55:23,Pine Grove Ave & Waveland Ave,232,Lincoln Ave & Addison St,330,casual,friday,1066.0,27057.50
9995,A793AD6E0E1F80BE,docked_bike,2020-10-05 13:58:43,2020-10-05 14:23:39,Lincoln Ave & Belmont Ave,131,Dearborn Pkwy & Delaware Pl,140,casual,monday,6496.0,55785.38
9997,2CB92E8592E117F7,docked_bike,2021-06-20 14:45:56,2021-06-20 15:33:11,Shedd Aquarium,15544,Fort Dearborn Dr & 31st St,TA1307000048,casual,sunday,8755.0,29544.98
9998,0445393F376408CE,docked_bike,2021-05-23 12:58:52,2021-05-23 14:11:51,Broadway & Thorndale Ave,15575,Marine Dr & Ainslie St,KA1504000171,casual,sunday,15299.0,20710.11
9999,CC7844CD89E52FAC,docked_bike,2021-06-11 14:03:02,2021-06-11 14:45:58,Streeter Dr & Grand Ave,13022,Michigan Ave & Oak St,13042,casual,friday,4256.0,14596.71

In [132]:
df_member.describe()  # descriptive statistics of member     describe me = count ,mean aate h

           duration       distance
count  5.591000e+03    5591.000000
mean   2.901588e+04   22362.791365
std    1.319827e+06   18293.998666
min    1.000000e+00       0.000000
25%    6.740000e+02    9516.790000
50%    1.222000e+03   17256.130000
75%    3.154000e+03   29974.260000
max    6.976718e+07  134817.690000

In [134]:
df_member.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,day_week_start,duration,distance
0,E7CC3B9C2497863F,docked_bike,2020-08-13 13:17:28,2020-08-13 13:55:29,Wells St & Evergreen Ave,291,Paulina St & 18th St,205,member,thursday,3801.0,59446.72
3,F17EA7F23A221021,electric_bike,2021-06-15 00:28:30,2021-06-15 01:00:47,Desplaines St & Randolph St,15535,Kedzie Ave & Bryn Mawr Ave,KA1504000167,member,tuesday,7217.0,117106.31

In [136]:
df_casual.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,day_week_start,duration,distance
1,75F3F6997F82F01C,docked_bike,2020-10-09 12:26:49,2020-10-09 12:47:34,Streeter Dr & Grand Ave,35,Streeter Dr & Grand Ave,35,casual,friday,2085.0,0.00
2,325DAA770EDE57ED,electric_bike,2020-11-06 17:35:06,2020-11-06 17:46:46,Sedgwick St & North Ave,118,Damen Ave & Pierce Ave,69,casual,friday,1140.0,38895.91

In [140]:
df_member['rideable_type'].value_counts()

rideable_type
docked_bike      3293
classic_bike     1570
electric_bike     728
Name: count, dtype: int64

In [142]:
df_casual['rideable_type'].value_counts()

rideable_type
docked_bike      2265
classic_bike      793
electric_bike     559
Name: count, dtype: int64

In [144]:
df_member['start_station_name'].value_counts()

start_station_name
Clark St & Elm St                65
Lake Shore Dr & North Blvd       51
Desplaines St & Kinzie St        49
Wells St & Huron St              48
Theater on the Lake              48
                                 ..
Dodge Ave & Mulford St            1
Princeton Ave & Garfield Blvd     1
Milwaukee Ave & Cuyler Ave        1
Malcolm X College                 1
Leavitt St & Addison St           1
Name: count, Length: 493, dtype: int64

In [146]:
df_casual['rideable_type'].value_counts()

rideable_type
docked_bike      2265
classic_bike      793
electric_bike     559
Name: count, dtype: int64

In [148]:
df_member['end_station_name'].value_counts()

end_station_name
Clark St & Elm St                61
Broadway & Barry Ave             51
Wells St & Concord Ln            48
Wabash Ave & Roosevelt Rd        44
Kingsbury St & Kinzie St         43
                                 ..
Kilbourn Ave & Irving Park Rd     1
Lake Park Ave & 47th St           1
Clark St & Columbia Ave           1
Normal Ave & Archer Ave           1
2112 W Peterson Ave               1
Name: count, Length: 497, dtype: int64

In [150]:
df_casual['end_station_name'].value_counts()

end_station_name
Streeter Dr & Grand Ave      101
Millennium Park               74
Michigan Ave & Oak St         48
Lake Shore Dr & Monroe St     45
Theater on the Lake           41
                            ...
Millard Ave & 26th St          1
Vernon Ave & 107th St          1
Prospect Sq & 91st St          1
Halsted St & 35th St           1
Latrobe Ave & Chicago Ave      1
Name: count, Length: 514, dtype: int64

In [152]:
df_member['day_week_start'].value_counts()

day_week_start
tuesday      851
wednesday    841
saturday     811
friday       804
monday       785
thursday     780
sunday       719
Name: count, dtype: int64

In [154]:
df_casual['day_week_start'].value_counts()

day_week_start
saturday     830
sunday       696
friday       581
thursday     404
wednesday    387
tuesday      363
monday       356
Name: count, dtype: int64

In [158]:
#rearranging the datetime to data
df['started_at'] =pd.to_datetime(df['started_at']).dt.normalize()

In [160]:
df.head(3)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,day_week_start,duration,distance
0,E7CC3B9C2497863F,docked_bike,2020-08-13,2020-08-13 13:55:29,Wells St & Evergreen Ave,291,Paulina St & 18th St,205,member,thursday,3801.0,59446.72
1,75F3F6997F82F01C,docked_bike,2020-10-09,2020-10-09 12:47:34,Streeter Dr & Grand Ave,35,Streeter Dr & Grand Ave,35,casual,friday,2085.0,0.00
2,325DAA770EDE57ED,electric_bike,2020-11-06,2020-11-06 17:46:46,Sedgwick St & North Ave,118,Damen Ave & Pierce Ave,69,casual,friday,1140.0,38895.91

In [166]:
#grouping the dates for the bar chart
by_date =pd.Series(df['started_at']).value_counts().sort_index()
by_dtae =index =pd.DatetimeIndex(by_date.index)
df_date =by_date.rename_axis('date').reset_index(name='counts')
df_date

          date  counts
0   2020-01-01       2
1   2020-01-02       9
2   2020-01-03       7
3   2020-01-04       1
4   2020-01-05       9
..         ...     ...
524 2021-06-26      29
525 2021-06-27      52
526 2021-06-28      25
527 2021-06-29      31
528 2021-06-30      35

[529 rows x 2 columns]

In [ ]:
#group by , plt,seaborn